<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAKRQD5nVahnfT9k88ntWzCL0k4bdXti3o</string>
	<key>GCM_SENDER_ID</key>
	<string>1005725178577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mazrukho.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>emflashchat</string>
	<key>STORAGE_BUCKET</key>
	<string>emflashchat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005725178577:ios:35ec4f4047c80ac59343f0</string>
</dict>
</plist>